/* proprietà generali */

h1{
  margin: 0;
  text-align: center;
  font-size: 20px;
  color: rgb(229,9,20);
}
h4{
  font-weight: bolder;
  text-align: center;
  font-size: 18px;
  color: rgb(255,255,255,0.7);
}
h6{
  font-size: 13px;
  color: rgb(255,255,255, 0.7);
}
p{
  margin: 0;
  font-size: 12px;
  color: rgb(255,255,255);
}
label{
  color: white;
}
.container-fluid{
  background-image: url('https://img.chilango.com/2018/06/solicitudes-series-peliculas-netflix_.jpg');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  padding-left: 0%;
  padding-right: 0%;
}
.main{
  /* border: 1px solid black; */
 min-height: calc(100vh - 100px);
}
.row{
  /* border: 1px solid red; */
  border-radius: 5px;
  margin-right: 30px;
  margin-left: 30px;
  width: 100%;
}

/* proprietà barra navigazione */
nav{
  background-color: rgb(0, 0, 0,0.6);
  height: 70px;
}
.searchbar{
  text-align: center;
  background-color: rgb(0, 0, 0);
  color: rgb(255,255,255, 0.7);
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 2px solid rgb(229,9,20);
}
#search-icon{
  color: rgb(229,9,20);
}
#search-icon:hover{
  cursor: pointer;
  transform: scale(1.2);
}
.box-logo{
  width: 50%;
  height: 100%;
}
.box-logo > img{
  width: 20%;
  height: auto;
}

 /* proprietà corpo centrale pagina */
.title{
  width: 10%;
  background-color: rgba(0,0,0,.3);
  border: 1px solid rgb(229,9,20) ;
  border-radius: 10px;
}
.box-films{
  width: 100%;
  height: 350px;
  overflow-x: auto;
}
.box-films::-webkit-scrollbar-track {
  border: 1px solid rgb(229,9,20,0.2);
  border-radius: 10px;
  padding: 2px 0;
  background-color: none;
}

.box-films::-webkit-scrollbar {
  width: 1px;
}

.box-films::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color:rgb(229,9,20,0.5);
}

.flag{
  font-size: 150%;
  color: rgb(229,9,20);
}
h6 > .fas,.far{
  font-size: 80%;
  color: yellow;
}

.box-film{
  border-radius: 5px;
  background-color: rgb(0, 0, 0,0.6);
  /* border: 1px solid green; */
  height: 95%;
  min-width: 215px;
  max-width: 230px;
}
.img-info, .img-info{
  width: 76px;
  height: 113px;
}
.img-poster, .img-poster{
  border-radius: 5px;
  top: 0;
  width: 215px;
  height: 100%;
}

.img-poster:hover, .img-poster:hover{
  cursor: pointer;
  opacity: 0;
}
.box-film p, .box-serieTv p{
  text-align: center;
  width: 90%;
  max-height: 300px;
  overflow-y: hidden;
  text-overflow: "...";
}
