<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.0/axios.min.js" integrity="sha512-DZqqY3PiOvTP9HkjIWgjO6ouCbq+dxqWoJZ/Q+zPYNHmlnI2dQnbJ5bxAHpAMw+LXRm4D72EIRXzvcHQtE8/VQ==" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
    <link rel="stylesheet" href="css/main.css">
    <title>Booflix</title>
  </head>
  <body >

    <!-- navbar -->
    <div id="app" class="container-fluid d-flex flex-column align-items-center ">

        <nav class="row justify-content-center align-items-center mx-15">
          <div class="box-logo p-1 d-flex justify-content-between align-items-center">
            <img src="https://assets.stickpng.com/images/580b57fcd9996e24bc43c529.png" alt="">
          </div>
          <div class="box-search d-flex align-items-center">
            <input v-show='searchbar' class="searchbar" v-model="nomeRicercato" @keyup.enter="ricerca" placeholder="Nome film o serieTv " type="text" name="" value="">
            <span @click="showSearchBar()"><i id="search-icon" class="fas fa-search ml-2 my-0 " :class='searchbar? "h5" : "h1" ' ></i></span>
          </div>

        </nav>

      <div class="container main d-flex flex-column justify-content-center ">

<!-- SEZIONE FILM ---------------------------------------------------->
        <section  v-if='arrayFilms.length>0' class="row d-flex ">

          <div class="title my-1 p-1">
            <h1>Films</h1>
          </div>
<!-- box dei film ricercati -->
          <div class="box-films d-flex">

            <div class=" box-film mx-1 pt-5 px-15 d-flex flex-column justify-content-between align-items-center position-relative "
                 v-for=" film in arrayFilms "
            >
            <!-- img che copre le info del film che scompare all' hover-->
            <img class="img-poster p-2 position-absolute":src="(film.poster_path===null)?
            'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQao8O6Q2B0vAVkVUAUKOBqrB7TJ9PiZCtdww&usqp=CAU'
            :'https://image.tmdb.org/t/p/w185' + film.poster_path" alt=""
            >

                
                 <!-- titolo -->
                <h4> {{film.title}} </h4>
                <!-- titolo originale -->
                <!-- <h4> {{film.original_title}} </h4> -->
                <!-- descrizione -->
                <p > {{film.overview}} </p>

                <div class="d-flex flex-column align-items-center">

                  <!-- lingua -->
                  <span class="flag" v-if="film.original_language == 'it'"> &#x1f1ee;&#x1f1f9; </span>
                  <span class="flag" v-else-if="film.original_language == 'en'"> &#x1f1ec;&#x1f1e7; </span>
                  <span class="flag" v-else-if="film.original_language == 'es'">	&#x1f1ea;&#x1f1f8; </span>
                  <span class="flag" v-else-if="film.original_language == 'us'"> &#x1f1fa;&#x1f1f2; </span>
                  <span class="flag" v-else>  &#x1f1ea;&#x1f1fa; </span>

                    <!-- punteggio -->
                  <h6
                    v-if="film.vote_average > 8"> <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                  </h6>
                  <h6
                    v-else-if="film.vote_average > 6"> <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>
                  </h6>
                  <h6
                    v-else-if="film.vote_average > 4"> <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
                  </h6>
                  <h6
                    v-else-if="film.vote_average > 2"> <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
                  </h6>
                  <h6
                    v-else> <i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
                  </h6>

                </div>
            </div>

          </div>

        </section>

<!-- SERIE TV ----------------------------------------------------------->
        <section v-if='arraySerieTv.length>0' class="row d-flex ">

          <div class="title mt-3 my-1 p-1">
            <h1>Serie Tv</h1>
          </div>
<!-- box delle serie tv ricercate -->
          <div class="box-films d-flex ">

            <div class=" box-film mx-1 pt-5 px-15 d-flex flex-column justify-content-between align-items-center position-relative"
                 v-for=" serieTv in arraySerieTv "
            >

            <!-- img che copre le info del film che scompare all' hover-->
            <img class="img-poster p-2 position-absolute":src="(serieTv.poster_path===null)?
            'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQao8O6Q2B0vAVkVUAUKOBqrB7TJ9PiZCtdww&usqp=CAU'
            :'https://image.tmdb.org/t/p/w185' + serieTv.poster_path" alt=""
            >

                
                <!-- titolo -->
                <h4> {{serieTv.name}} </h4>
                <!-- titolo originale -->
                <!-- <h4> {{serieTv.original_name}} </h4> -->
                <!-- descrizione -->
                <p> {{serieTv.overview}} </p>
                <div class="d-flex flex-column align-items-center">

                  <!-- lingua -->
                  <span class="flag" v-if="serieTv.original_language == 'it'"> &#x1f1ee;&#x1f1f9; </span>
                  <span class="flag" v-else-if="serieTv.original_language == 'en'"> &#x1f1ec;&#x1f1e7; </span>
                  <span class="flag" v-else-if="serieTv.original_language == 'es'">	&#x1f1ea;&#x1f1f8; </span>
                  <span class="flag" v-else-if="serieTv.original_language == 'us'"> &#x1f1fa;&#x1f1f2; </span>
                  <span class="flag" v-else>  &#x1f1ea;&#x1f1fa; </span>

                    <!-- punteggio -->
                  <h6
                    v-if="serieTv.vote_average > 8"> <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                  </h6>
                  <h6
                    v-else-if="serieTv.vote_average > 6"> <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>
                  </h6>
                  <h6
                    v-else-if="serieTv.vote_average > 4"> <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
                  </h6>
                  <h6
                    v-else-if="serieTv.vote_average > 2"> <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
                  </h6>
                  <h6
                    v-else> <i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
                  </h6>

                </div>
            </div>
          </div>
        </section>


      </div>

    </div>




    <script src="js/script.js"></script>
  </body>
</html>
